html 
    head 
    body 
        div 
            form(action="/productos" class="form" method="post") 
                h1(class="title") Ingrese producto
                div(class="inputContainer")
                    input(name="tittle" type="text" class="input" placeholder="Nombre del Producto")
                    label(for="" class="label") Nombre 
                div(class="inputContainer")
                    input(name="price" type="text" class="input" placeholder="Precio del Producto")
                    label(for="" class="label") Precio  
                div(class="inputContainer")
                    input(name="thumbnail" type="text" class="input" placeholder="Foto del Producto")
                    label(for="" class="label") Foto URL  
                input(type="submit" class="submitBtn" value="Enviar")
        <a href="http://localhost:8080/productos">Lista de productos</a>